<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="">Ready to get Started?</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
                aliquam autem, optio veniam quaerat blanditiis sit delectus, culpa
                consequatur placeat iure explicabo sapiente suscipit! Ipsam velit
                perspiciatis vero voluptate enim.
            </p>
        </div>
        <a href="#" class="btn btn--secondary btn--stretched">Get started</a>
    </div>
</div>