a[target]{
    color:orange
}

a[href="https://google.com"]{
    color:tomato
}

a[href*="google"]{
    color: brown;
    font-size: 100px;
}

/* Starts with */
a[href^=http]{
    color: steelblue;
}

/* Ends with */
a[href$='.com']{
    color: crimson;
}

a[href^=http][href*='.com']{
    color: gold;
}