/* #product + p ~ p{
    color:tomato
} */

/* #product ~ p{
    color:tomato
} */

/* #product p{
    color:tomato
} */

/* article #para{
    color: tomato;
} */

article :first-child {
	color: tomato;
}
article :first-of-type {
	color: tomato;
}
ul li:nth-child(3n) {
	color: red;
}

a:visited,
a:link {
	color: red;
}

a:focus {
	color: slategray;
}

::selection {
	color: pink;
}

p::first-letter {
	font-size: xx-large;
}

p::first-line {
	font-weight: bold;
}

p::before {
	content: "....";
	display: block;
}
